*{
    margin: 0%;
    box-sizing: border-box;
    
}
body{background-color: #003049;}
.s1{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    
}
.bthp{
    font-size: 1.4rem;;
    
    
    
    margin: 1rem;;
}
.bthpl{
    text-decoration: none;
    padding: 1rem;;
    border: 2px solid white;
    padding: 0.7rem 1rem;;
    border-radius: 1.3rem;;
    color: white;
    background-color: orangered;
}
.bthp1:hover{color: orangered;
    background-color: white;}
